<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All The Albums</title>
</head>
<body>
<h1>All The Albums. All of them.</h1>

<div th:each="album : ${albums}" class="album">
    <h3 th:id="${album.title}" th:text="${album.title}">Movie Title</h3>
    <p>
        Produced by <span th:text="${album.artist}"></span>
    </p>
</div>

<div>
    <form method="POST" action="/albums">
        Title:<input name="title" />
        Artist:<input name="artist" />
        Song Count:<input type="number" name="songCount" />
        Seconds Length:<input type="range" name="secondsLength" min="0" max="800" />
        Image URL:<input type="url" name="imageUrl" />

        <input type="submit" />
        <input type="reset">
    </form>
</div>
</body>
</html>