<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All The Albums</title>

    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/songs">Songs</a></li>
        <li><a href="/sayHello">Say Hello</a></li>
        <li><a href="/albums">Albums</a></li>
    </ul>
</nav>

<h1>All The Albums. All of them.</h1>

<div th:each="album : ${albums}" class="album">
    <h3 th:id="${album.title}" th:text="${album.title}">Movie Title</h3>
    <p>
        Produced by <span th:text="${album.artist}"></span>
    </p>
</div>

</body>
</html>