<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>

    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/songs">Songs</a></li>
        <li><a href="/sayHello">Say Hello</a></li>
        <li><a href="/albums">Albums</a></li>
    </ul>
</nav>

<h1>
    Hello, <span th:text="${firstName}"></span>!
</h1>
</body>
</html>